<h1> Index </h1>

<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

<script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>

  <div id="dropin-container"></div>
  <button id="submit-button">Request payment method</button>
  <script>
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
      authorization: 'CLIENT_TOKEN_FROM_SERVER',
      container: '#dropin-container'
    }, function (createErr, instance) {
      button.addEventListener('click', function () {
        instance.requestPaymentMethod(function (err, payload) {
          // Submit payload.nonce to your server
        });
      });
    });
  </script>