html,
body,
.cover {
    height: 100%;
}

.cover {
    background: url(cover) center center no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
    /*margin-top: -60px;*/
}

.cover-text {
    /*text-align: center;*/
    /*color: white;*/
    display: table-cell;
    vertical-align: middle;
}

#signIn .btn {
  margin-top: 6px;
}

.admin {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.navbar {
  box-shadow: 0 0 100px #000;
  margin-bottom: 0;
}

.alert {
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 9999;
}

.wrapper {
  margin-top: 60px;
}